* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {background-color: #051367;}
nav {
    background:   #2D31FA  ;
    height: 80px;
    width: 100%;
}
lable.logo {
    font-size: 45px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    color: #DFF6FF;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;    
}
nav ul li a {
    color: #DFF6FF;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 4px;
}
a.active,a:hover {
    background:   #5D8BF4;
    transition: .5s;

}



h1{color: #DFF6FF;}